.env
*.ini
*.ipynb
dev.py
cache/
logs/
__pycache__/
auth/__pycache__/
connector/__pycache__/
gui/__pycache__/
logger/__pycache__/
sharepoint/__pycache__/
sharepoint/list/__pycache__/
sharepoint/common/__pycache__/
utils/__pycache__/